<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910240519772-ns6iqngpkpoebdd8b5i6sufjfnvgegs5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910240519772-ns6iqngpkpoebdd8b5i6sufjfnvgegs5</string>
	<key>API_KEY</key>
	<string>AIzaSyBmmzVha5U2WsQIKTzN_acqQPgDyGOCPwA</string>
	<key>GCM_SENDER_ID</key>
	<string>910240519772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tempartyApp</string>
	<key>PROJECT_ID</key>
	<string>temparty-12538</string>
	<key>STORAGE_BUCKET</key>
	<string>temparty-12538.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910240519772:ios:d5377b25fb93dd7bfbb899</string>
	<key>DATABASE_URL</key>
	<string>https://temparty-12538-default-rtdb.firebaseio.com</string>
</dict>
</plist>